<div class="ui three column centered grid">
  <div class="column">
    <form class='ui large form'>
      <div class="ui stacked segment">
        <h2>
          Add a new pose
        </h2>
        <div class="field">
          Pose Name:
          <input type='text'>
        </div>
        <div class="field">
          Difficulty:
          <select>
          <option value='beginner'>Beginner</option>
          <option value='intermediate'>Intermediate</option>
          <option value='advanced'>Advanced</option>
          </select>
        </div>
        <div class="field">
            Brief Description of the pose:
            <input type='text'>
        </div>
        <div class="field">
          Upload image:
          <input type='text'>
        </div>
        <div class="field">
          <%= submit_tag "Submit", class:'ui fluid large submit button' %>
        </div>
          <div class='ui error message'></div>
      </div>
    </form>
  </div>
</div>
