<title><%= full_title(yield(:title)) %></title>
<div class='ui grid container'>
  <div class='row'>
    <div class='home column'>
      <div class='ui message'>
      <h1 class='ui header'>Your Daily Yoga Pose</h1>
      <p>Look at all of the cool yoga poses you could learn!</p>
      </div>
    </div>
  </div>
</div>
<div class='ui two column centered grid'>
  <div class='column'>
    <div class="ui centered card">
  <div class="image">
    <img src="https://semantic-ui.com/images/wireframe/image.png">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
  </div>
</div>
