<% provide(:title, "Other Poses") %>
<title><%= full_title(yield(:title)) %></title>
<h1>Here are other poses to try</h1>
<div class="ui center aligned container">
  <div class="ui cetered cards">
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Yoga Pose Name</div>
      <div class="meta">
        <a>Difficulty</a>
      </div>
      <div class="description">
        Description of pose goes here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Yoga Pose Name</div>
      <div class="meta">
        <a>Difficulty</a>
      </div>
      <div class="description">
        Description of pose goes here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Yoga Pose Name</div>
      <div class="meta">
        <a>Difficulty</a>
      </div>
      <div class="description">
        Description of pose goes here.
      </div>
    </div>
  </div>
</div>
</div>
